In [1]:
# Import all the required libraries 
import pandas as pd
import numpy as np

In [2]:
# Load the required file
df=pd.read_csv('Supermarket.csv')
df.head()

       ProductCode              Date  Amount  Received Cash CashierName
0  LBVT18010004435  01-05-2018 12:36  1121.2         1121.2       MAYTE
1  LBVT18010004436  01-05-2018 12:37    18.5           20.0       MAYTE
2  LBVT18010004437  01-05-2018 12:38   160.0          200.0       MAYTE
3  LBVT18010004438  01-05-2018 12:47   397.5          397.5       MAYTE
4  LBVT18010004439  01-05-2018 12:48    22.0           50.0       MAYTE

In [3]:
# To find the mean of Amount
(print('The mean Amount is:',round(df.Amount.mean(),2)))

The mean Amount is: 189.78

In [4]:
# To find the median of Amount
print('The median of Amount is:',(df.Amount.median()))

The median of Amount is: 95.0

In [5]:
# To find the mode of Amount
print('The mode of Amount is:',(df.Amount.mode()))

The mode of Amount is: 0    50.0
dtype: float64

In [6]:
# To find the range of Amount 
print("Range for Amount:",np.ptp(df.Amount,axis=0))

Range for Amount: 15036.8

/opt/conda/lib/python3.7/site-packages/numpy/core/fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [7]:
# Use iqr from scipy.stats library
from scipy.stats import iqr
print('The inter quartile range is:',(iqr(df['Amount'],axis=0)))

The inter quartile range is: 189.7

In [8]:
# To find the deviation of Amount
print('The Standard Deviation of Amount is: ',round(np.std(df['Amount'],axis=0),2))

The Standard Deviation of Amount is:  284.03

In [9]:
# To find the variance of Amount
print('The Variance of Amount is: ',round(np.var(df['Amount'],axis=0),2))

The Variance of Amount is:  80673.58