In [1]:
# Import the required libraries

import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
# Load data into a Dataframe

df=pd.read_csv('weather.csv')

# Display first 5 rows of the Dataframe
df.head()

,Date,Summary,PrecipType,Temperature,Humidity,WindSpeed,Visibility,Pressure
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,0.89,14.1197,15.8263,1015.13
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,0.86,14.2646,15.8263,1015.63
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,0.89,3.9284,14.9569,1015.94
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,0.83,14.1036,15.8263,1016.41
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,0.83,11.0446,15.8263,1016.51

In [3]:
# Perform Simple Linear Regression to create a Model

X1 = df[['Humidity']]
y = df.Temperature

slm1 = LinearRegression()

# Fit the Model & print values of Coefficient & Intercept

slm1.fit(X1, y)
print("Coefficient:", np.round(slm1.coef_,2),"\nIntercept:", np.round(slm1.intercept_,2))

# Predict temperature values using the Model
predicted_1 = slm1.predict(X1)

Coefficient: [-30.89]
Intercept: 34.64

In [4]:
# Perform Multiple Linear Regression using three predictors

X2 = df[['Humidity','WindSpeed','Pressure']]
y = df.Temperature

slm2 = LinearRegression()
slm2.fit(X2, y)
print("Coefficient:", np.round(slm2.coef_,2),"\nIntercept:", np.round(slm2.intercept_,2))

Coefficient: [-32.44  -0.19  -0.  ]
Intercept: 38.59

In [5]:
# Predict values using slm1

predicted_1 = slm1.predict(X1)

# Predict values using slm2

predicted_2 = slm2.predict(X2)

In [6]:
# Mean Square Error & R2 Score

print("Mean squared error for Simple Linear Model: %.2f" % mean_squared_error(y, predicted_1))

print('R2 score for Simple Linear Model: %.2f' % r2_score(y, predicted_1))

print("Mean squared error for Multiple Linear Model: %.2f" % mean_squared_error(y, predicted_2))

print('R2 score for Multiple Linear Model: %.2f' % r2_score(y, predicted_2))

Mean squared error for Simple Linear Model: 54.76
R2 score for Simple Linear Model: 0.40
Mean squared error for Multiple Linear Model: 53.05
R2 score for Multiple Linear Model: 0.42