# Predictive Analytics
## Module 3 - Inferential Statistics
### Demo 7 - Statistics Inference on Student's Marks Data

In [1]:
# Importing libraries
import pandas as pd
import math
from scipy import stats
import numpy as np
from scipy.stats import ttest_1samp

In [2]:
# Loading dataset
df=pd.read_csv('marks.csv')
df.head()

   Sr. No.  College Class    Exam_id                    Name  Marks
0        1  St.Mary    BE  71522622D          HOSHING GAUTAM    420
1        2  St.Mary    BE  71522620H          GUPTA ABHISHEK    280
2        3  St.Mary    BE  71522628C             KALE SHWETA    350
3        4  St.Mary    BE  71522647K        AISHWARYA SAWANT    269
4        5  St.Mary    BE  71431647E  BENDALE SAGAR SARJERAO    317

In [3]:
# Number of rows in dataset
print("Rows in dataset =",df.shape[0])

Rows in dataset = 130

In [4]:
# Calculating population mean
population_mean = np.mean(df.Marks)
print("Population mean =",round(population_mean,3))

Population mean = 364.277

In [5]:
# Creating a sample of size 20
sample=np.random.choice(df.Marks,size=20,replace=False)

In [6]:
# Calculating length of the sample
size=len(sample)
print("Size of the sample = ", size)

Size of the sample =  20

In [7]:
# Calculating mean and standard deviation of sample
sample_mean=np.mean(sample)

sample_std = np.std(sample)
print("Sample mean =",round(sample_std,3))

Sample mean = 70.418

In [8]:
# Calculating standard deviation of population
pop_std=np.std(df.Marks)
print("Standard deviation of population = ",round(pop_std,3))

Standard deviation of population =  66.179

In [9]:
# Calculating Margin of error
margin=stats.norm.ppf(q=0.975)*(pop_std/math.sqrt(size))
print("Margin of error = ",round(margin,3))

Margin of error =  29.004

In [10]:
# Calculating Confidence Interval
CI=(sample_mean-margin,sample_mean+margin)
print('Confidence Interval: ',[round(CI[0],3), round(CI[1],3)])

Confidence Interval:  [347.596, 405.604]

# Hypothesis Testing

In [11]:
# Performing Hypothesis Testing
stat, pval = ttest_1samp(sample, population_mean)
print("p_value",round(pval,3))
if pval<0.05: 
    print("We are rejecting the null hypothesis")
else:
    print("We are accepting the null hypothesis")

p_value 0.455
We are accepting the null hypothesis